@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    /* scroll-padding-top: -100px; */
    user-select: none;
}

* {
    padding: 100;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #000;
    overflow-x: hidden;
}
#circle {
    width: 40px;
    height: 40px;
    background-color: #f7b475;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    will-change: transform;
    z-index: 100;
    transition: width 0.6s ease, height 0.6s ease;
    mix-blend-mode: normal;
}

#circle.enlarged {
    width: 500px; 
    height: 500px; 
    mix-blend-mode: difference;
}
#circle.stickyCircle {
    width: 50px;
    height: 50px;
    mix-blend-mode: difference;
}
#circle.hideCircle {
    height: 0px;
    width: 0px;
    mix-blend-mode: normal;
}
#circle.playReel {
    height: 120px; 
    width: 120px; 
    mix-blend-mode: normal;
}

.rotating-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 5s linear infinite; 
    white-space: nowrap;
    font-size: 14px; 
    color: #0d0d0d; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

#circle.playReel .rotating-text {
    opacity: 1; 
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 12px; 
  }
  
::-webkit-scrollbar-thumb {
    background-color: #333; 
    border-radius: 20px; 
    transition: background-color 0.3s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}
:root {
    --primary-color: #d4c7b1;
    --secondary-color: #f78f75;
    --highlight-color: #150050;
    --white: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
}
.social-media {
    position: fixed;
    top: 50%;
    right: 1%;
    height: 300px;
    width: 60px;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-media img {
    height: 40px;
    width: 40px;
}
.social-media .media-logos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.magnetic-button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth return to default position */
}

.header {
    position: fixed;
    top: 40px;
    right: 25px;
    width: auto; 
    padding: 10px 20px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    transition: .3s;
    transform: none; 
    border-radius: 20px;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.Navbar a {
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    margin-left: 30px;
    display: inline-block;
    line-height: 40px;
    perspective: 1000px;
}

.Navbar a span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    color: white;
}

.Navbar a.active span {
    color: var(--secondary-color);
}

.Navbar a span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: transform 0.3s, background 0.3s, color 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    color: white;
    display: none;
}

.Navbar a:hover span,
.Navbar a.active span {
    transform: rotateX(90deg);
    color: #0d0d0d;
}

.Navbar a:hover span::before,
.Navbar a.active span::before {
    display: flex;
    transform: rotateX(-90deg); 
    color: var(--secondary-color);
}

#menu-icon {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.home-content {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    align-items: center;
    width: 100%;
}
.home-content h2 {
    font-size: 30px;
    margin: -10px;
    font-weight: 200;
}
.home-content .text {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content .text h1 {
    font-size: 130px;
    margin: -10px;
}
.home-content .text p {
    font-weight: 300;
    margin: 20px;
    text-align: center;
    max-width: 800px;
}
.home-content .text h1 span {
    color: var(--secondary-color);
}
.text-container {
    overflow: hidden;
    width: 110%;
    text-align: center;
  }
  
  .rise-up-reveal {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 0.3s ease;
  }
  
  .rise-up-reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  
 
.home-sci {
    position: absolute;
    bottom: 20px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}
.home-sci a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #150050;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-color);
    z-index: -1;
    transition: .5s;

}
.big{
    font-size: 60px;
}

.home-sci a:hover::before {
    width: 100%;
}
.hidden-reveal {
    position: absolute;
    color: #0d0d0d;
}

.about {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 0px;
    min-height: 100vh;
  }

  
.about .Heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
}
  

span {
    color: var(--secondary-color);
}


.about-content {
    text-align: justify;
    margin: 30px;
}
.about-content p {
    font-size: 40px;
    margin: 1.2rem 0 2.5rem;
    padding: 20px;
    /* color: var(--primary-color); */
    border-radius: 20px;
 }

.projects {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 0px;
    min-height: 100vh;
}
.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0px; 
}
hr {
    width: 100%;
    background-color: #363636;
    height: .1px;
    border: none;
}
.projects .Heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
}
.project h2 {
    color: var(--primary-color);
    font-size: 40px;
    margin: 0px 30px;
}
.project p {
    color: #0d0d0d;
    margin: 0px 30px;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
}
.project div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    text-align: left;
}
.project div img {
    height: 50px;
    margin: 0px 30px 0px 0px;
    transition: transform 0.3s ease; 
    transform: rotate(45deg);
}

.project div img:hover {
    transform: rotate(0deg); 
}

.mottos {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 0px;
    min-height: 100vh;
}
.motto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 0px; 
}
hr {
    width: 100%;
    background-color: #363636;
    height: .1px;
    border: none;
}
.mottos .Heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
}
.motto h2 {
    font-size: 110px;
    margin: 0px 30px;
    letter-spacing: 5px;
}
.motto p {
    color: #0d0d0d;
    margin: 0px 30px;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
}
.motto div {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.motto div img {
    height: 50px;
    margin: 0px 30px 0px 0px;
    transition: transform 0.3s ease; 
    transform: rotate(45deg); 
}

.motto div img:hover {
    transform: rotate(0deg); 
}

@keyframes animate-in {
	from {
		opacity: 0.2;
		scale: 0.8;
		translate: 0 10%;
	}
}
.photo {
	animation: animate-in ease-in both;
	animation-timeline: view();
	animation-range: entry 25% cover calc(50% - 10vh);
}
.video-section ul.photos {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    gap: 1em;
}

.photo {
    transform-origin: 50% 100%;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    align-items: end;
    width: min-content;
    max-width: 100%;
    margin: 0 auto;
}

.photo img {
    display: block;
    width: auto;
    height: 75vmin;
    max-height: 100vh;
}
.contact {
    min-height: 80vh;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.contact .Heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    text-align: center;
}
.contact .contact-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.contact-row .contact-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.contact-item {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 15px 10px;
    justify-content: space-between;
}
.contact-col h2 {
    color: var(--primary-color);
    font-size: 25px;
}
.contact-item p {
    color: #0d0d0d;
}
.contact-item a{
    color: inherit; 
    text-decoration: none; 
}

.wipe-reveal {
    position: relative;
    overflow: hidden; 
}

.wipe-reveal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--secondary-color);
    transition: height 0.4s ease, top 0.4s ease;
    z-index: -1;
}

.wipe-reveal:hover::before {
    top: 0;
    height: 100%;
}

.wipe-reveal:hover h2, .wipe-reveal:hover p {
    color: var(--light-text-color); 
}
.scroll-reveal {
    font-size: 70px;
    font-weight: bold;
    color: var(--secondary-color, #fff);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.6s ease; 
    background-size: 200%; 
    background-position: 100% 0;
}

/* Responsive CSS (Media Queries)*/
@media (max-width: 1440px) {
    .header{
        width: 100%;
    }
    .motto h2 {
        font-size: 80px;
    }
}
@media (max-width: 1200px) {
    .project h2 {
        font-size: 30px;
    }
    .project p {
        font-size: 16px;
    }
    .project div img{
        height: 30px;
    }
    .motto h2 {
        font-size: 65px;
    }
    .motto p {
        font-size: 16px;
    }
}
@media (max-width:1024px) {
body {
    overflow-x: hidden;
}
#circle.enlarged {
    height: 300px;
    width: 300px;
}
.motto h2 {
    font-size: 55px;
}

}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .header {
        border-radius: 0px;
        justify-content: space-between;
        width: 100%;
        top: 0;
        left: 1%;
    }
    .header.sticky{
        border-radius: 10%;
    }

    #menu-icon {
        display: block;
    }

    .Navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        /* padding: 1rem 4%; */
        background: #0d0d0d;
        box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .2);
        transition: .4s ease;
        transition-delay: .25s;
    }

    .Navbar.active {
        left: 2%;
        transition-delay: .3s;
    }
    
    .Navbar a {
        display: block;
        font-size: 1.6rem;
        /* margin: 2rem 0; */
    }
    .home-content .text h1{
        font-size: 80px;
    }
      .close-button {
        left: 50%;
        top: 15%;
        transform: translateX(-50%) translateY(-50%);
      }
      .about p{
        font-size: 30px;
      }
      .about-content span{
        font-size: 35px;
      } 
      .project h2 {
        font-size: 24px;
    }
    .project p {
        font-size: 14px;
    }
    .project div img{
        height: 25px;
    }
    .motto h2 {
        font-size: 50px;
    }
    .motto p {
        font-size: 14px;
    }
    .contact-col h2 {
        font-size: 20px;
    }
    .contact-col p {
        font-size: 14px;
    }
    .contact-item{
        width: 200px;
    }
    .social-media {
        position: fixed;
        top: 50%;
        right: 2%;
        width: 50px;
    }
    .social-media img {
        height: 35px;
        width: 35px;
    }
    .social-media .media-logos {
        gap: 40px;
    }
    #menu-icon {
        font-size: 2.5rem;
    }
    }
@media (max-width: 425px) {
    body {
        overflow-x: hidden;
    }
    .header {
        max-width: 425px;
    }
    .home-content .text h1{
        font-size: 60px;
    }
    .home-content h2 {
        font-size: 20px;
    }
    .logo {
        font-size: 20px;
    }
    #menu-icon {
        font-size: 2rem;
    }
    .about p{
        font-size: 20px;
    }
    section {
        padding: 6rem 5% 1rem;
    }
    .project {
        justify-content: space-between;
        align-items: flex-start;
        padding: 30px 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .project h2 {
        font-size: 18px;
    }
    .project p {
        font-size: 10px;
    }
    .project div img{
        height: 20px;
    }
    .motto h2 {
        font-size: 30px;
    }
    .motto p {
        font-size: 10px;
    }
    .contact-item {
        width: 150px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
}
